@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&family=Lobster&display=swap');
* {
  font-family: 'Lobster', cursive;
  font-family: 'Cormorant Garamond', serif;
}

.nav-box {
  background-color: #888888;
  padding: 10px;
  overflow: hidden;
  opacity: 0.8;
}

.nav-title {
  margin-left: 12%;
}

.nav-option {
  margin-right: 12%;
}

.nav-home {
  font-size: 40;
}

.home-title {
  margin-left: 13%;
  margin-top: 40px; 
  margin-bottom: 30px; 
  color: #666666;
}

.pictures {
  margin-top: 20px;
  margin-bottom: 80px; 
  margin: auto;
  width: 80%;
  padding: 10px; 
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  justify-content: center;
}

.pic-box {
  width: 250px; 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-basis: 30%;
  margin-right: 15px;
  margin-bottom: 50px;
}

.a-cat{
  width: 100%;
  height: 300px;
  object-fit: cover; /* to fit the div */
  display: block;
  box-shadow: 3px 3px 5px 2px #eeeeee;
}

.a-cat-over {
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: block;
  box-shadow: 3px 3px 5px 2px #eeeeee;
  opacity: 0.7;
}

.heart-box {
  margin-top: 20px;
  margin-bottom: 0px;
}

.heart-box:focus {
  outline: none;
  box-shadow:none;
}

.heart {
  width: 30px;
  height: 30px;
}

.loadmore-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 100px;
}

.loadmore-button {
  padding: 10px 30px;
  font-size: 60;
  border-color: #eeeeee;
}

.loadmore-button:focus {
  outline: none;
  box-shadow:none;
}

.favourites-page {
  margin-top: 40px; 
  margin-bottom: 30px; 
}

.favourites-title {
  margin-left: 45%;
  margin-top: 40px; 
  margin-bottom: 50px; 
  color: #666666;
}

.liked-box {
  width: 250px; 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-basis: 30%;
  margin-right: 15px;
  margin-bottom: 50px;
}

.liked-list {
  margin-top: 20px;
  margin-bottom: 80px; 
  margin: auto;
  width: 80%;
  padding: 10px; 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

.delete-button {
  margin-top: 0px;
  margin-right: 0px;
  width: 45px;
  height: 34px;
}